<!DOCTYPE html>
<html>
<head>
    <title>OpenData</title>
    {% load static %}
    <script type="text/javascript" src="{% static "chart/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "chart/fusioncharts.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "chart/themes/fusioncharts.theme.candy.js" %}"></script>
    </head>
    <body>
        <div>
            <div>
            
            </div>
            <div id="myFirstchart-container">{{ output|safe }}</div>
        </div>
    </body>
</html>